name: Build Images For Commit

on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['8', '8.0', '7.4', '7']
    steps:
      - uses: actions/checkout@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_PAT }}
      - uses: docker/setup-buildx-action@v1
      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-${{ matrix.php }}-buildx-${{ github.sha }}
          restore-keys: ${{ runner.os }}-${{ matrix.php }}-buildx
      - id: push
        run: |
          echo ::set-output name=sha::sha-${GITHUB_SHA:0:7}-${{ matrix.php }}
          echo ::set-output name=at::$(date -u +'%Y-%m-%dT%H:%M:%SZ')
      - name: Build Image
        uses: docker/build-push-action@v2
        with:
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
          build-args: PHP=${{ matrix.php }}
          push: true
          tags: ghcr.io/${{ github.repository }}:${{ steps.push.outputs.sha }}
          labels: |
            org.opencontainers.image.title=${{ github.repository }}
            org.opencontainers.image.url=${{ github.event.repository.html_url }}
            org.opencontainers.image.source=${{ github.event.repository.html_url }}
            org.opencontainers.image.created=${{ steps.push.outputs.at }}
            org.opencontainers.image.revision=${{ steps.push.outputs.sha }}
