name: Build Docker Image

on:
  push:
    branches:
      - "**"

jobs:
  build-image:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ["7", "7.4", "8", "8.0"]
    env:
      image: "ghcr.io/${{ github.repository }}"
      archive: "docker-php-api-${{ matrix.php }}.tar"
    steps:
      - uses: docker/setup-buildx-action@v1
        id: buildx
      - uses: docker/setup-qemu-action@v1
      - name: Generate branch Docker Image attributes
        id: meta
        uses: crazy-max/ghaction-docker-meta@v2
        with:
          images: "${{ env.image }}"
          tags: "type=sha,suffix=-${{ matrix.php }}"
      - name: Build Docker Image
        uses: docker/build-push-action@v2
        with:
          build-args: PHP=${{ matrix.php }}
          builder: "${{ steps.buildx.outputs.name }}"
          labels: "${{ steps.meta.outputs.labels }}"
          outputs: "type=oci,dest=${{ env.archive }}"
          tags: "${{ steps.meta.outputs.tags }}"
      - name: Upload Docker Image as pipeline artifact
        uses: actions/upload-artifact@v2
        with:
          path: "${{ env.archive }}"
          name: "${{ env.archive }}"
          retention-days: 7
