name: Build Docker Image

on:
  push:
    branches:
      - "**"

jobs:
  manifest:
    uses: shrink/docker-php-api/.github/workflows/matrix-of-images.yml@generate-images-from-manifest
  build-image:
    runs-on: ubuntu-latest
    needs:
      - manifest
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.manifest.outputs.matrix) }}
    env:
      image: "ghcr.io/${{ github.repository }}"
      archive: "docker-php-api-${{ matrix.tag }}.tar"
    steps:
      - uses: docker/setup-buildx-action@v1
      - uses: docker/setup-qemu-action@v1
      - name: Generate branch Docker Image attributes
        id: meta
        uses: crazy-max/ghaction-docker-meta@v2
        with:
          images: "${{ env.image }}"
          tags: "type=sha,suffix=-${{ matrix.tag }}"
      - name: Build Docker Image
        uses: docker/build-push-action@v2
        with:
          build-args: |
            PHP=${{ matrix.php }}
            ALPINE=${{ matrix.alpine }}
            NGINX=${{ matrix.nginx }}
          labels: "${{ steps.meta.outputs.labels }}"
          outputs: "type=docker,dest=${{ env.archive }}"
          tags: "${{ steps.meta.outputs.tags }}"
      - name: Upload Docker Image as pipeline artifact
        uses: actions/upload-artifact@v2
        with:
          path: "${{ env.archive }}"
          name: "${{ env.archive }}"
          retention-days: 7
