name: "Push Docker Image To Registry"

on:
  workflow_run:
    workflows:
      - Build Docker Image
    types:
      - completed
  workflow_dispatch:

jobs:
  manifest:
    uses: shrink/docker-php-api/.github/workflows/matrix-of-images.yml@generate-images-from-manifest
  push-image-on-success:
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success'
    needs:
      - manifest
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.manifest.outputs.matrix) }}
    env:
      image: "ghcr.io/${{ github.repository }}"
      archive: "docker-php-api-${{ matrix.tag }}.tar"
    steps:
      - name: Download Docker Image from build workflow
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: build.yml
          name: "${{ env.archive }}"
      - name: Log in to GitHub Container Registry as actor
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: "${{ github.actor }}"
          password: "${{ github.token }}"
      - id: short
        uses: benjlevesque/short-sha@v1.2
      - name: Push Docker Image to Registry
        run: |
          docker load --input ${{ env.archive }}
          docker push --all-tags ${{ env.image }}
