name: Tag Released Images

on:
  release:
    types:
      - created

jobs:
  manifest:
    runs-on: ubuntu-latest
    outputs:
      versions: |
        {"include": ${{ steps.manifest.outputs.content }}}
    steps:
      - uses: juliangruber/read-file-action@v1
        id: manifest
        with:
          path: "versions.json"
  build:
    runs-on: ubuntu-latest
    needs:
      - manifest
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.manifest.outputs.versions) }}
    steps:
      - id: short
        uses: benjlevesque/short-sha@v1.2
      - name: Publish Tag
        uses: shrink/actions-docker-registry-tag@v2
        with:
          registry: ghcr.io
          token: "${{ github.token }}"
          repository: "${{ github.repository }}"
          target: "sha-${{ steps.short.outputs.sha }}-${{ matrix.tag }}"
          tags: "${{ matrix.tag }}"
